media/
static_collected/
.env/
logs/
src/static/build/
src/static/bin/
src/static/node_modules/
src/static/vendor
!src/static/vendor/placeholders
!src/static/dist/bin
.idea/
*.log
*.pyc
settings_local.py
*.pid
*.sqlite3
*.sw*
*~